<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContractMonthlyClaimSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContractMonthlyClaimSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand me-2" href="/Home">
                    <img
                        src="/images/claimsLogo.png"
                        height="50"
                        alt="Logo"
                        loading="lazy"
                         style="filter: brightness(0) invert(1);" 
                     />
                </a>

                <button data-mdb-collapse-init
                        class="navbar-toggler"
                        type="button"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (Context.Session.GetString("Role") == "Lecturer")
                        {
                            <li class="nav-item">
                                <a class="nav-link " 
                                asp-area="" asp-controller="Lecturer" asp-action="SubmitClaims">Submit Claim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " 
                                asp-area="" asp-controller="Lecturer" asp-action="LecturerTrack">Claim Status</a>
                            </li>
                        }
                        @if (Context.Session.GetString("Role") == "Coordinator")
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Coordinator" asp-action="CoReview">Review Claims</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Coordinator" asp-action="CoTrack">Claim Status</a>
                            </li>

                        }
                        @if (Context.Session.GetString("Role") == "Manager")
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="AcademicManager" asp-action="ManagerReview">Review Claims</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="AcademicManager" asp-action="ManagerTrack">Claim Status</a>
                            </li>
                        }
                    </ul>

                    @if (Context.Session.GetString("Role") == null)
                    {
                        <div class="d-flex align-items-center">
                            <a class="btn btn-link nav-link-style" href="/Auth/Login">Login</a>
                            <a class="btn btn-nav" href="/Auth/Register">Sign up for free</a>
                        </div>
                    }
                    else{
                        <div class="d-flex align-items-center">
                            <p class="text-white mb-0 me-2" style="font-size:12px;">Welcome @Context.Session.GetString("Name")</p>
                            <a class="btn btn-logout" href="/Auth/Logout">Logout</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer footer-dark bg-dark text-muted">
        <div>
            &copy; 2024 - ContractMonthlyClaimSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
