<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContractMonthlyClaimSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContractMonthlyClaimSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand me-2" href="/Home">
                    <img
                        src="/images/claimsLogo.png"
                        height="50"
                        alt="Logo"
                        loading="lazy"
                         style="filter: brightness(0) invert(1);" 
                     />
                </a>

                <button data-mdb-collapse-init
                        class="navbar-toggler"
                        type="button"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (Context.Session.GetString("Role") == "Lecturer" || Context.Session.GetString("Role") == "Dev")
                        {
                            <li class="nav-item">
                                <a class="nav-link " 
                                asp-area="" asp-controller="Lecturer" asp-action="SubmitClaims">Submit Claim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " 
                                asp-area="" asp-controller="Lecturer" asp-action="Report">History</a>
                            </li>
                        }
                        @if (Context.Session.GetString("Role") == "Coordinator" || Context.Session.GetString("Role") == "Dev")
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Coordinator" asp-action="CoReview">Review Claims</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Coordinator" asp-action="CoReport">Report</a>
                            </li>

                        }
                        @if (Context.Session.GetString("Role") == "Manager" || Context.Session.GetString("Role") == "Dev")
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="AcademicManager" asp-action="ManagerReview">Review Claims</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="AcademicManager" asp-action="ManagerReport">Report</a>
                            </li>
                        }
                    </ul>

                    @if (Context.Session.GetString("Role") == null)
                    {
                        <div class="d-flex align-items-center">
                            <a class="btn btn-link nav-link-style" href="/Auth/Login">Login</a>
                            <a class="btn btn-nav" href="/Auth/Register">Sign up for free</a>
                        </div>
                    }
                    else{
                        <div class="d-flex align-items-center">
                            <p class="text-white mb-0 me-2" style="font-size:12px;">Welcome @Context.Session.GetString("Name")</p>
                            <a class="btn btn-logout" href="#" onclick="confirmLogout()">Logout</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-social">
                <a href="https://www.instagram.com/derik.korf/"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/ST10268524"><i class="fab fa-github"></i></a>
                <a href="https://www.facebook.com/derik.debull/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            </div>
            @if(Context.Session.GetString("Role") == null)
            {
                <div class="footer-links">
                    <a href="/Auth/Register">Signup</a>
                    <a href="/Auth/Login">Login</a>
                    <a href="/Home/Index">Home</a>
                </div>
            }
            else{
                <div class="footer-links">
                    <a href="/Home/Index">Home</a>
                    <a href="#" onclick="confirmLogout()">Logout</a>
                </div>
            }
            <div class="footer-copyright">
                <p>© 2024, Contract Monthly Claim System</p>
            </div>
            
        </div>
    </footer>

    <script>
        function confirmLogout() {
            if (confirm("Are you sure you want to logout?")) {
                window.location.href = "/Auth/Logout";
            }
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
