
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}


.btn-yellow {
    color: black !important;
    border-color: black !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    width: 100% !important;
}

    .btn-yellow:hover {
        color: black !important;
        background-color: #ffeb3b !important;
        border-color: #ffeb3b !important;
        transform: scale(1.05) !important;
    }

.btn-nav {
    color: #ffeb3b !important;
    border-color: #ffeb3b !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    width: 100% !important;
}

    .btn-nav:hover {
        color: black !important;
        background-color: #ffeb3b !important;
        border-color: #ffeb3b !important;
        transform: scale(1.05) !important;
    }

    .btn-logout{
        color: white !important;
        border-color: red !important;
        font-size: 18px !important;
        font-weight: 600 !important;
        border-radius: 20px !important;
        transition: background-color 0.3s ease, transform 0.3s ease !important;
        width: 100% !important;
    }

        .btn-logout:hover {
            color: white !important;
            background-color: red !important;
        }



.d-flex.align-items-center {
    display: flex;
    align-items: center; /* Vertically center-align items */
}

.text-white {
    margin-bottom: 0; /* Remove bottom margin to avoid extra space */
}

.

/* Navbar link color */
.navbar-nav .nav-link {
    margin-right: 30px; /* Add space between links */
    color: white !important;
    transition: color 0.3s ease;
}

    /* Hover effect */
    .navbar-nav .nav-link:hover {
        color: #a9a9a9 !important; 
    }

.nav-link-style {
    color: white !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;
}

    /* Hover effect */
    .nav-link-style:hover {
        color: #ffeb3b !important; 
        transform: scale(1.05) !important;
    }


.site-footer {
    background-color: #333; /* Dark background color */
    color: white; /* White text color */
    padding: 20px 0;
    text-align: center;
   position: absolute;
   bottom: 0;
   width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-social a {
    color: white !important;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s;
}

    .footer-social a:hover {
        color: #ffeb3b !important;
    }

.footer-links a {
    color: white !important; /* Links are now black */
    margin: 0 15px;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
}

    .footer-links a:hover {
        text-decoration: underline;
    }

.footer-container p {
    margin: 10px 0;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }
}