

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}



.btn-yellow {
    color: black !important;
    border-color: black !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    width: 100% !important;
}

    .btn-yellow:hover {
        color: black !important;
        background-color: #ffeb3b !important;
        border-color: #ffeb3b !important;
        transform: scale(1.05) !important;
    }

.btn-nav {
    color: #ffeb3b !important;
    border-color: #ffeb3b !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    width: 100% !important;
}

    .btn-nav:hover {
        color: black !important;
        background-color: #ffeb3b !important;
        border-color: #ffeb3b !important;
        transform: scale(1.05) !important;
    }

    .btn-logout{
        color: white !important;
        border-color: red !important;
        font-size: 18px !important;
        font-weight: 600 !important;
        border-radius: 20px !important;
        transition: background-color 0.3s ease, transform 0.3s ease !important;
        width: 100% !important;
    }

        .btn-logout:hover {
            color: white !important;
            background-color: red !important;
        }

    .nav-link-style{
        color: white !important;
        font-size: 18px !important;
        font-weight: 600 !important;
        border-radius: 30px !important;
        transition: background-color 0.3s ease, transform 0.3s ease !important;
    }

        .nav-link-style:hover {
            color: #ffeb3b !important;
            transform: scale(1.05) !important;
        }

.d-flex.align-items-center {
    display: flex;
    align-items: center; /* Vertically center-align items */
}

.text-white {
    margin-bottom: 0; /* Remove bottom margin to avoid extra space */
}


/* Navbar link color */
.navbar-nav .nav-link {
    color: white !important;
    transition: color 0.3s ease;
}

    /* Hover effect */
    .navbar-nav .nav-link:hover {
        color: #a9a9a9 !important; /* Light gray */
    }

    /* Active link styling */
    .navbar-nav .nav-link.active {
        color: #ffffff !important;
        background-color: #5a5a5a; /* Dark gray for contrast */
        border-radius: 5px;
        padding: 8px 16px;
    }